@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10.5rem;
}

@media (min-width: 640px) {
  html {
    scroll-padding-top: 6rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
